<div id="wrapper">
  <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/saved">Saved Articles</a>
  </li>
  
</ul>
     <div class="jumbotron jumbotron-fluid">
  <div class="container jumbotron">
    <h1 class="display-4">Ski News</h1>
    <p class="lead">Get the Latest Ski News From Sites Across the Internet</p>
    <button type="button" class="btn btn-primary" id="scrape-unoffical">Scrape Unofficial Networks</button>
    <button type="button"class="btn btn-success" id="scrape-snowbrains">Scrape Snowbrains</button>
    <button type="button"class="btn btn-warning" id="scrape-teton">Scrape Teton Gravity</button>
    <button type="button" class="btn btn-danger clear">Clear Articles</button>
  </div>
</div>
      <div class="row" >
      <ul class="list-group" id="articles">
 
</ul>
</div>
      <div class="row" id="notes"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>