<div id="wrapper">
   <ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active tab back" href="/">Home</a>
  </li>
  <li class="nav-item back">
    <a class="nav-link active tab" href="/saved">Saved Articles</a>
  </li>
  
</ul>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Ski News</h1>
      <p class="lead">Saved Articles</p>
    </div>
  </div>
  <div class="row">
    <ul class="list-group" id="articles">
    </ul>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="saved.js"></script>