.jumbotron {
    background-image: url("../images/twins.JPG");
  height: 100%; 
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}
body {
    background-color: rgba(13, 13, 15, 0.7);
}

#articles {
    margin-left: 15%;
}

img {
    height: 200px;
    width: 260px;
}

.display-4 {
    color: bisque;
    font-size: 100px;
}

.lead {
    color: bisque;
}

.tab {
    font-size: 30px;
    color: bisque
}

.back {
    background-color: brown;

}